/* main css file */

* {
  margin: 0px;
  padding: 0px:
  box-sizing: border-box;
}



body {
  background-image: url("images/pexels-fauxels-3184460.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: auto;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans" sans-serif;
}

nav a {
  float: left;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  padding: 20px 25px;
  transition: all 0.5s ease 0s;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(226, 226, 226);
  font-weight: bold;
  float: right;
  letter-spacing: 5px;
  font-size: 20px;
}

header {
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family: 'Poppins', sans-serif;
}

.nav-links {
  
}

div {
  display: block;
  text-align: center;
  width: 50%;
  border-radius: 15;
}

.main {
  /*Needed for paralax scrolling*/
  height: 1000px;
  width: auto;
  margin: auto;
}

footer {
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
}

footer a {
  text-decoration: none;
  font-family: serif;
  color: black;
  justify-content: space-between;
}
